
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvitica Neue", Helvetica, Arial, sans-serif;
}

.App {
  max-width: 450px;
  margin: 5% auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding: 12px;
  background: #01131B;
}

.card-item {
  margin : 12px;
  padding-bottom: 15px;
  border-bottom: 1px dotted rgb(41, 39, 39);
  cursor: pointer;
  
}

.card-item-header {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.card-item-body {
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
}

.card-criteria {
  color: #fff;
  font-size: 14px;
  margin: 12px;
}

button {
  background: #01131B;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
}